@mixin flex-center {

    display: flex;
    justify-content: center;
    align-items: center;

}

@mixin card {

    background: $white;
    border-radius: $radius;
    padding: 2rem;
    box-shadow: $shadow;

}