.footer {

    background: $color-dark;
    color: $white;
    padding: 3rem 0;

}

.footer p,
.footer a {

    color: rgba(255, 255, 255, .75);

}

.footer a {

    text-decoration: none;

}

.footer a:hover {

    color: $white;

}

.footer__content {

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;

}

.footer ul {

    list-style: none;
    margin-top: 1rem;

}

.footer li {

    margin-bottom: .5rem;

}