.btn {

    display: inline-block;
    background: $color-primary;
    color: $white;
    padding: 1rem 2rem;
    border-radius: 999px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: $transition;

}

.btn:hover {

    background: $color-primary-dark;
    transform: translateY(-5px);

}

.btn--light {

    background: $white;
    color: $color-primary-dark;

}

.btn--light:hover {

    background: $color-secondary;
    color: $color-primary-dark;

}