.btn {

    display: inline-block;
    background: $color-primary;
    color: $white;
    padding: 1rem 2rem;
    border-radius: 999px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: $transition;

}

.btn:hover {

    background: $color-primary-dark;
    transform: translateY(-5px);

}

.btn--light {

    background: $white;
    color: $color-primary-dark;

}

.btn--light:hover {

    background: $color-secondary;
    color: $color-primary-dark;

}

.whatsapp {
    position: fixed;
    right: 24px;
    bottom: 24px;

    width: 64px;
    height: 64px;

    border-radius: 50%;
    background: #25D366;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 12px 30px rgba(0, 0, 0, .2);

    z-index: 999;
    transition: $transition;
}

.whatsapp:hover {
    transform: scale(1.08);
}

.whatsapp img {
    width: 34px;
    height: 34px;
}